@import '../config/variables';
@import "../config/functions";
@import "../config/mixins";
@import "../components/placeholders";

.main-menu__list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.main-menu__item {
    padding: 1em;
}