@import '_variables.scss';

$starbone-logo: 'https://res.cloudinary.com/leonemil/image/upload/v1576926073/Starbone/logo.png';
$eu-flag: 'https://res.cloudinary.com/leonemil/image/upload/v1576926140/Starbone/eu-flag.png';

$menu-button: 'https://res.cloudinary.com/leonemil/image/upload/v1577047169/Starbone/menu-button.svg';
$windows-logo: '#{$path}/windows-logo.svg';
$play-button: '#{$path}/play-button.svg';
$up-arrow: '#{$path}/up-arrow.svg';
$youtube-logo: '#{$path}/youtube-logo.svg';
$board-logo: '#{$path}/board-logo.svg';
$discord-logo: '#{$path}/discord-logo.svg';
$reddit-logo: '#{$path}/reddit-logo.svg';
$facebook-logo: '#{$path}/facebook-logo.svg';
$twitter-logo: '#{$path}/twitter-logo.svg';
$twitch-logo: 'https://res.cloudinary.com/leonemil/image/upload/v1576968046/Starbone/twitch-logo.svg';


$offense1: (
    small: 'https://res.cloudinary.com/leonemil/image/upload/v1576926074/Starbone/Offense1-w600.jpg',
    medium: 'https://res.cloudinary.com/leonemil/image/upload/v1576926088/Starbone/Offense1-w2067.jpg',
    large: 'https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense1-w3016.jpg',
    xlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1576926100/Starbone/Offense1-w3840.jpg',
);

$offense2: (
    small: 'https://res.cloudinary.com/leonemil/image/upload/v1576926076/Starbone/Offense2-w600.jpg',
    medium: 'https://res.cloudinary.com/leonemil/image/upload/v1576926092/Starbone/Offense2-w2057.jpg',
    large: 'https://res.cloudinary.com/leonemil/image/upload/v1576926114/Starbone/Offense2-w3032.jpg',
    xlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense2-w3840.jpg',
);

$offense3: (
    small: 'https://res.cloudinary.com/leonemil/image/upload/v1576926093/Starbone/Offense3-w600.jpg',
    medium: 'https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense3-w2084.jpg',
    large: 'https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense3-w3041.jpg',
    xlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1576926152/Starbone/Offense3-w3840.jpg',
);

$offense4: (
    small: 'https://res.cloudinary.com/leonemil/image/upload/v1576926117/Starbone/Offense4-w600.jpg',
    medium: 'https://res.cloudinary.com/leonemil/image/upload/v1576926131/Starbone/Offense4-w2059.jpg',
    large: 'https://res.cloudinary.com/leonemil/image/upload/v1576926144/Starbone/Offense4-w3002.jpg',
    xlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1576926152/Starbone/Offense4-w3840.jpg',
);

$recon2: (
    small: 'https://res.cloudinary.com/leonemil/image/upload/v1576926121/Starbone/Recon2-w600.jpg',
    medium: 'https://res.cloudinary.com/leonemil/image/upload/v1576926139/Starbone/Recon2-w2065.jpg',
    large: 'https://res.cloudinary.com/leonemil/image/upload/v1576926148/Starbone/Recon2-w3036.jpg',
    xlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1576926153/Starbone/Recon2-w3840.jpg',
    );
    
$recon3: (
    small: 'https://res.cloudinary.com/leonemil/image/upload/v1577396533/Starbone/Recon3-w480.jpg',
    medium: 'https://res.cloudinary.com/leonemil/image/upload/v1577396556/Starbone/Recon3-w2038.jpg',
    large: 'https://res.cloudinary.com/leonemil/image/upload/v1577396570/Starbone/Recon3-w3026.jpg',
    xlarge: 'https://res.cloudinary.com/leonemil/image/upload/v1577396614/Starbone/Recon3-w3840.jpg',
);

@if $production {

    $starbone-logo: './public/images/logo.png';
    $eu-flag: './public/images/eu-flag.png';

    $windows-logo: '#{$path}/windows-logo.svg';
    $play-button: '#{$path}/play-button.svg';
    $up-arrow: '#{$path}/up-arrow.svg';
    $youtube-logo: '#{$path}/youtube-logo.svg';
    $board-logo: '#{$board-logo}/board-logo.svg';
    $discord-logo: '#{$path}/discord-logo.svg';
    $reddit-logo: '#{$path}/reddit-logo.svg';
    $facebook-logo: '#{$path}/facebook-logo.svg';
    $twitter-logo: '#{$path}/twitter-logo.svg';

    $offense1: (
        small: '#{$path}/Offense1-w600.jpg',
        medium: '#{$path}/Offense1-w2067.jpg',
        large: '#{$path}/Offense1-w3016.jpg',
        xlarge: '#{$path}/Offense1-w3840.jpg',
    );

    $offense2: (
        small: '#{$path}/Offense2-w600.jpg',
        medium: '#{$path}/Offense2-w2057.jpg',
        large: '#{$path}/Offense2-w3032.jpg',
        xlarge: '#{$path}/Offense2-w3840.jpg',
    );

    $offense3: (
        small: '#{$path}/Offense3-w600.jpg',
        medium: '#{$path}/Offense3-w2084.jpg',
        large: '#{$path}/Offense3-w3041.jpg',
        xlarge: '#{$path}/Offense3-w3840.jpg',
    );

    $offense4: (
        small: '#{$path}/Offense4-w600.jpg',
        medium: '#{$path}/Offense4-w2059.jpg',
        large: '#{$path}/Offense4-w3002.jpg',
        xlarge: '#{$path}/Offense4-w3840.jpg',
    );

    $recon2: (
        small: '#{$path}/Recon2-w600.jpg',
        medium: '#{$path}/Recon2-w2065.jpg',
        large: '#{$path}/Recon2-w3036.jpg',
        xlarge: '#{$path}/Recon2-w3840.jpg',
    );

    $recon3: (
        small: '#{$path}/Recon3-w480.jpg',
        medium: '#{$path}/Recon3-w2038.jpg',
        large: '#{$path}/Recon3-3026.jpg',
        xlarge: '#{$path}/Recon3-w3840.jpg',
    );
}

$images: $offense2, $offense3, $offense4, $recon2;
$colors: orange, purple, cyan, lime;

