// Use screenreader utilities to hide elements on all devices except screen readers.

// Hide an element to all devices except screen readers with .sr-only.
// Combine .sr-only with .sr-only-focusable to show the element again when it’s focused
// (e.g. by a keyboard-only user). Can also be used as mixins.

.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.screen-reader-focusable:focus,
.screen-reader-focusable:active {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none;
}